.collapseUnderPicture{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    margin-top: 20px;
    .CollapseElement{
        width:48%;
        .elementTitle{
            width:90%;
            img{
                width:75px;
                height:75px;
                object-fit: cover;
                transition: transform 0.3s ease;
            }
            .rotate {
                transform: rotate(-180deg);
              }
        }
        .elementDescription{
            width:90%;
            padding:5px;
            transition: max-height 0.5s ease-out, padding 0.5s ease-out; // Ajout de la transition
        }
    }
}