.elementTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  color: white;
  background: #ff6060;
  border-radius: 10px;
  padding: 15px 25px;
  img {
    filter: invert(1) brightness(2) contrast(2);
    transition: transform 0.3s ease;
  }
  h2 {
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 34.22px;
    letter-spacing: 0%;
  }
}

.rotate {
  transform: rotate(-180deg);
}
.elementText {
  width: 80%;
  padding: 0 25px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out; // Ajout de la transition
  p {
    color: black;
  }
}
