footer{
    width: 100vw;
  margin-left: calc(-50vw + 50%); /* Ajustez cette valeur selon le padding de #root */
  box-sizing: border-box;
    padding:30px;
    margin-top:30px;
    background-color: black;
}
p{
    color:white;    
}
.footer {
    
  }